<h4>please limit each posting to a single area and category, once per 48 hours</h4>
<h4>what type of posting is this:(see prohibited list before posting.)</h4>
<div>
  <div class="row">
    <input name="types" type="radio" /><label>job offered</label>
  </div>
  <div class="row">
  <input name="types" type="radio" /><label>gig offered</label>
  </div>
  <div class="row">
  <input name="types" type="radio" /><label>resume/job wanted</label>
  </div>
  <br>
  <div class="row">
  <input routerLink="new-house" name="types" type="radio" /><label>housing offered</label>
  </div>
  <div class="row">
  <input name="types" type="radio" /><label>housing wanted</label>
  </div>
  <br>
  <div class="row">
  <input name="types" type="radio" /><label>for sale by owner</label>
  </div>
  <div class="row">
  <input name="types" type="radio" /><label>for sale by dealer</label>
  </div>
  <div class="row">
  <input name="types" type="radio" /><label>wanted by owner</label>
  </div>
  <div class="row">
  <input name="types" type="radio" /><label>wanted by dealer</label>
  </div>
  <br>
  <div class="row">
  <input name="types" type="radio" /><label>service offered</label>
  </div>
  <br>
  <div class="row">
  <input name="types" type="radio" /><label>personal/romance</label>
  </div>
  <br>
  <div class="row">
  <input routerLink="new-community" name="types" type="radio" /><label>community</label>
  </div>
  <div class="row">
  <input name="types" type="radio" /><label>event/class</label>
  </div>
  <br>
  <button>continue</button>
</div>
