<div>
  <div>
    <label>edit a category:</label>
    <br>
    <input [(ngModel)]="selectedHouse.type">
  </div>
  <div>
    <label>edit the location:</label>
    <br>
    <input [(ngModel)]="selectedHouse.location">
  </div>
  <div>
    <label>edit title</label>
    <br>
    <input [(ngModel)]="selectedHouse.title">
  </div>
  <div>
    <label>edit body</label>
    <br>
    <textarea [(ngModel)]="selectedHouse.body"></textarea>
  </div>
  <div>
    <label>edit rent</label>
    <br>
    <input [(ngModel)]="selectedHouse.price">
  </div>
  <div>
    <label>edit available</label>
    <br>
    <input [(ngModel)]="selectedHouse.availability">
  </div>
  <button (click)="beginUpdatingHouse(selectedHouse)">Update</button>
  <button (click)="beginDeletingHouse(selectedHouse)">Delete</button>
</div>
