<div class="row">
  <div class="col-md-3">
    <a routerLink="community">Community</a>
  </div>
  <div class="col-md-3">
    <a routerLink="housing">Housing</a>
  </div>
  <div class="col-md-3">
    <a routerLink="jobs">jobs</a>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <a routerLink="personals">personals</a>
  </div>
  <div class="col-md-3">
    <a routerLink="forSale">for sale</a>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <a routerLink="discussion">discussion forums</a>
  </div>
  <div class="col-md-3">
    <a routerLink="services">services</a>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <a routerLink="gigs">gigs</a>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <a routerLink="resumes">resumes</a>
  </div>
</div>
