<div>
  <h3>please choose a category and add your listing</h3>
  <div>
    <label>please choose a category:</label>
    <br>
    <input #newcategory>
  </div>
  <div>
    <label>choose the location that fits best:</label>
    <br>
    <input #newlocation>
  </div>
  <div>
    <label>posting title</label>
    <br>
    <input #newtitle>
  </div>
  <div>
    <label>posting body</label>
    <br>
    <textarea #newbody></textarea>
  </div>
  <div>
    <label>contact</label>
    <br>
    <input #newcontact>
  </div>
  <button (click)="submitForm(newcategory.value, newlocation.value, newtitle.value, newbody.value, newcontact.value); newcategory.value=''; newlocation.value=''; newtitle.value=''; newbody.value=''; newcontact.value='';">Add</button>
</div>
